.about {
  width: 100%;
  height: 120vh;
  background-color: gray;
}
.about__content {
  width: 100%;
  height: 120vh;
}
.about__content {
  display: flex;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-company {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-company__title {
  width: 6vw;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 2vw;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
}
.about-company__subtitle {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 2vw;
  font-weight: bolder;
  padding-bottom: 2vh;
  padding-top: 2vh;
}
.about-company__text {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 1.6vw;
}
.about-company__wrapper {
  display: flex;
  justify-content: center;
}
.about-line {
  width: 2px;
  height: 90%;
  display: flex;
  align-items: center;
}
.about-line__line {
  width: 2px;
  height: 90%;
  background-color: #fff;
}
.about-each {
  width: 45%;
  height: 80%;
}
.about-each__align {
  display: flex;
  justify-content: center;
}
.about-each__photo-wrapper {
  width: 50%;
  border: 2px solid #ffffff;
}
.about-each__photo {
  height: 100%;
  width: 100%;
}
.about-each__title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: right;
  font-size: 2vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  font-weight: bolder;
}
.about-each__text {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: right;
  font-size: 1.3vw;
  margin-bottom: 2vh;
}
.prev,
.next {
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 5px;
  width: 40px;
  text-align: center;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.test {
  position: relative;
  display: flex;
  height: 0;
  justify-content: space-around;
  bottom: 15%;
}
