.about {
  width: 100%;
  background-color: grey;
  scroll-margin-top: 10vh;
}
.about-wrapper {
  width: 100%;
  display: flex;
}
.about-company {
  width: 45%;
  border-right: 1px solid #ffffff;
  padding: 5vh 5% 0 0;
  margin: 7vh 0;
}
.about-company__title {
  width: 119px;
  margin: 0;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 1366px) {
  .about-company__title {
    width: 90px;
    font-size: 30px;
  }
}
.about-company__subtitle {
  font-size: 35px;
  color: #ffffff;
  margin: 0;
  font-weight: bolder;
  margin: 2vh 0;
}
@media (max-width: 1366px) {
  .about-company__subtitle {
    font-size: 25px;
  }
}
.about-company__text {
  font-size: 30px;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 1366px) {
  .about-company__text {
    font-size: 20px;
  }
}
.about-us {
  width: 45%;
  padding: 5vh 0 0 5%;
  margin: 7vh 0;
}
.about-us__align {
  display: flex;
  justify-content: center;
}
.about-us__photo-wrapper {
  width: 50%;
  border: 3px solid #ffffff;
}
@media (max-width: 1024px) {
  .about-us__photo-wrapper {
    width: 70%;
  }
}
.about-us__photo {
  height: 100%;
  width: 100%;
}
.about-us__arrow {
  position: relative;
  display: flex;
  height: 0;
  justify-content: space-around;
  bottom: 15%;
}
.about-us__title {
  margin: 0;
  font-size: 30px;
  color: #ffffff;
  font-weight: bolder;
  text-align: right;
  margin: 2vh 0;
}
@media (max-width: 1366px) {
  .about-us__title {
    font-size: 25px;
  }
}
.about-us__text {
  margin: 0;
  margin-bottom: 2vh;
  font-size: 25px;
  color: #ffffff;
  text-align: right;
}
.about-us__text:last-child {
  margin-bottom: 0;
}
@media (max-width: 1366px) {
  .about-us__text {
    font-size: 18px;
  }
}
.prev,
.next {
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 5px;
  width: 40px;
  text-align: center;
}
@media (max-width: 1366px) {
  .prev,
  .next {
    font-size: 25px;
  }
}
@media (max-width: 1024px) {
  .prev,
  .next {
    font-size: 18px;
  }
}
