.contacts {
  width: 100%;
  background-image: url(../img/backgrounds/bg-contacts.jpg);
}
.contacts__title {
  margin: 0;
  font-size: 40px;
  color: #1F2833;
  font-weight: bolder;
  text-transform: uppercase;
  border-bottom: 1px solid #1F2833;
  width: 207px;
}
@media (max-width: 1366px) {
  .contacts__title {
    font-size: 30px;
    width: 157px;
  }
}
.contacts__button {
  width: 400px;
  height: 70px;
  background-color: #1F2833;
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 1366px) {
  .contacts__button {
    width: 280px;
    height: 50px;
    font-size: 18px;
  }
}
.contacts-wrapper {
  width: 100%;
  display: flex;
  padding: 3vh 0;
}
.contacts-info {
  width: 50%;
}
.contacts-work {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1F2833;
}
.contacts-work__subtitle {
  margin: 0;
  font-size: 30px;
  color: #1F2833;
  font-weight: bolder;
  text-align: center;
}
@media (max-width: 1366px) {
  .contacts-work__subtitle {
    font-size: 27px;
  }
}
.contacts-work__text {
  font-size: 18px;
  color: #1F2833;
  font-weight: bolder;
  text-align: center;
  margin-left: 10%;
}
.contacts-email {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1F2833;
  margin: 3vh 0;
}
.contacts-email__subtitle {
  margin: 0;
  font-size: 30px;
  color: #1F2833;
  font-weight: bolder;
  text-align: center;
}
@media (max-width: 1366px) {
  .contacts-email__subtitle {
    font-size: 27px;
  }
}
.contacts-email__text {
  font-size: 18px;
  color: #1F2833;
  font-weight: bolder;
  text-align: center;
  margin-left: 10%;
}
.contacts-numbers {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.contacts-numbers__wrapper {
  margin-bottom: 2vh;
}
.contacts-numbers__number {
  margin: 0;
  font-size: 40px;
  color: #1F2833;
  font-weight: bolder;
}
@media (max-width: 1366px) {
  .contacts-numbers__number {
    font-size: 30px;
  }
}
.contacts-numbers__name {
  margin: 0;
  font-size: 18px;
  color: #1F2833;
  font-weight: bolder;
}
@media (max-width: 1366px) {
  .contacts-numbers__name {
    font-size: 15px;
  }
}
