.contacts {
    width: 100%;
    background-image: url(../img/bg-contacts.jpg);
    padding-bottom: 5%;

    &__title {
      width: 11vw;
      border-bottom: 1px solid #1F2833;
      color: #1F2833;
      font-size: 2vw;
      text-transform: uppercase;
      font-weight: bolder;
      text-align: center;
      margin: 0 0 2.5% 15%;
    }

    &__wrapper {
      display: flex;
    }

    &__info {
      width: 50%;
      margin-left: 15%;
    }

    &__work {
      display: flex;
      border-bottom: 1px solid black;
    }

    &__email {
      margin: 5% 0;
      display: flex;
      border-bottom: 1px solid black;
    }
    &__subtitle {
      margin: 0;
      padding: 0;
      font-size: 2vw;
      color: #1F2833;
      font-weight: bolder;
      text-transform: uppercase;
      text-align: center;
    }

    &__text {
      font-size: 1vw;
      font-weight: bolder;
      text-align: center;
      padding-left: 3vw;
    }

    &__numbers {
      width: 50%;
      margin-right: 15%;
    }

    &__number {
      margin: 0;
      padding: 0;
      font-size: 2vw;
      color: #1F2833;
      font-weight: bolder;
      text-align: right;
    }

    &__name {
      margin: 0;
      padding: 0;
      font-size: 1vw;
      text-align: center;
      font-weight: bolder;
      text-align: right;
    }

    &__button {
      width: 17vw;
      height: 4vw;
      background-color: #1F2833;
      color: #ffffff;
      font-size: 1.2vw;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
}