.contacts {
  width: 100%;
  background-image: url(../img/bg-contacts.jpg);
  padding-bottom: 5%;
}
.contacts__title {
  width: 11vw;
  border-bottom: 1px solid #1F2833;
  color: #1F2833;
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  margin: 0 0 2.5% 15%;
}
.contacts__wrapper {
  display: flex;
}
.contacts__info {
  width: 50%;
  margin-left: 15%;
}
.contacts__work {
  display: flex;
  border-bottom: 1px solid black;
}
.contacts__email {
  margin: 5% 0;
  display: flex;
  border-bottom: 1px solid black;
}
.contacts__subtitle {
  margin: 0;
  padding: 0;
  font-size: 2vw;
  color: #1F2833;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
.contacts__text {
  font-size: 1vw;
  font-weight: bolder;
  text-align: center;
  padding-left: 3vw;
}
.contacts__numbers {
  width: 50%;
  margin-right: 15%;
}
.contacts__number {
  margin: 0;
  padding: 0;
  font-size: 2vw;
  color: #1F2833;
  font-weight: bolder;
  text-align: right;
}
.contacts__name {
  margin: 0;
  padding: 0;
  font-size: 1vw;
  text-align: center;
  font-weight: bolder;
  text-align: right;
}
.contacts__button {
  width: 17vw;
  height: 4vw;
  background-color: #1F2833;
  color: #ffffff;
  font-size: 1.2vw;
  text-transform: uppercase;
  letter-spacing: 2px;
}
