.footer {
  width: 100%;
  background-image: url(../img/bg-footer.jpg);
}
.footer-wrapper {
  width: 100%;
  display: flex;
  padding: 3vh 0;
  justify-content: space-between;
}
.footer-rights {
  display: flex;
  width: 50%;
  align-items: center;
}
.footer-rights__logo {
  width: 13%;
}
.footer-rights__logo__logo {
  width: 100%;
}
.footer-rights__text {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-left: 1.5%;
}
@media (max-width: 1366px) {
  .footer-rights__text {
    font-size: 15px;
  }
}
.footer-socials {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-socials__whatsapp {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/whatsapp.png);
}
.footer-socials__whatsapp:hover {
  background-image: url(../img/icons/whatsapp-hover.png);
}
.footer-socials__insta {
  width: 32px;
  height: 32px;
  background-image: url(../img/icons/insta.png);
}
.footer-socials__insta:hover {
  background-image: url(../img/icons/insta-hover.png);
}
.footer-socials__tg {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/tg.png);
}
.footer-socials__tg:hover {
  background-image: url(../img/icons/tg-hover.png);
}
