.footer {
  width: 100%;
  height: 15vh;
  background-image: url(../img/bg-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__wrapper {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__logo {
  width: 12%;
}
.footer__logo__logo {
  width: 100%;
}
.footer__rights {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  font-size: 1.3vw;
}
.footer__socials {
  width: 15vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__whatsapp-wrapper {
  width: 15%;
}
.footer__whatsapp-wrapper__whatsapp {
  width: 100%;
}
.footer__insta-wrapper {
  width: 13%;
}
.footer__insta-wrapper__insta {
  width: 100%;
}
.footer__tg-wrapper {
  width: 13%;
}
.footer__tg-wrapper__tg {
  width: 100%;
}
