.footer {
  width: 100%;
  background-image: url(../img/backgrounds/bg-footer.jpg);
}

.footer-wrapper {
  width: 100%;
  display: flex;
  padding: 3vh 0;
  justify-content: space-between;
}

.footer-rights {
  display: flex;
  width: 50%;
  align-items: center;

  &__logo {
    width: 13%;

    &__logo {
      width: 100%;
    }
  }

  &__text  {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 1.5%;

    @media (max-width:1366px) {
      font-size: 15px;
    }
  }
}

.footer-socials {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__whatsapp {
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/whatsapp.png);

    &:hover {
      background-image: url(../img/icons/whatsapp-hover.png);
    }
  }

  &__insta {
    width: 32px;
    height: 32px;
    background-image: url(../img/icons/insta.png);

    &:hover {
      background-image: url(../img/icons/insta-hover.png);
     }
  }

  &__tg {
    width: 40px;
    height: 40px;
    background-image: url(../img/icons/tg.png);

    &:hover {
      background-image: url(../img/icons/tg-hover.png);
    }
  }
}