.footer {
  width: 100%;
  background-image: url(../img/bg-stages.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-wrapper {
  width: 100%;
  display: flex;
  padding: 3vh 0;
  justify-content: space-between;
}
.footer-rights {
  display: flex;
  width: 50%;
  align-items: center;
}
.footer-rights__logo {
  width: 13%;
}
.footer-rights__logo__logo {
  width: 100%;
}
.footer-rights__text {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-left: 1.5%;
}
@media (max-width: 1366px) {
  .footer-rights__text {
    font-size: 15px;
  }
}
.footer-socials {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-socials__wrapper {
  width: 11%;
}
.footer-socials__wrapper:first-child {
  width: 13%;
}
.footer-socials__item {
  width: 100%;
}
