.footer {
  width: 100%;
  background-image: url(../img/bg-stages.jpg);
}

.footer-wrapper {
  width: 100%;
  display: flex;
  padding: 3vh 0;
  justify-content: space-between;
}

.footer-rights {
  display: flex;
  width: 50%;
  align-items: center;

  &__logo {
    width: 13%;

    &__logo {
      width: 100%;
    }
  }

  &__text  {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 1.5%;

    @media (max-width:1366px) {
      font-size: 15px;
    }
  }
}

.footer-socials {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wrapper {
    width: 11%;

    &:first-child{
      width: 13%;
    }
  }

  &__item {
    width: 100%;
  }
}