.portfolio {
  width: 100%;
  background-image: url(../img/bg-portfolio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-margin-top: 10vh;

  &__title {
    margin: 0;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 0.1em;
    margin: 1vh 0 2vh 0;
  }

  &__text {
    margin: 0;
    font-size: 23px;
    width: 62%;
    color: #ffffff;
    letter-spacing: 0.1em;
  }
}

.portfolio-header {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh 15%;

  &__title {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
}

.portfolio-line {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__line {
    width: 1px;
    height: 7vh;
    background-color: #fff;
    position: absolute;
  }
}

.portfolio-slider {
 // width: 100%;
  display: flex;
}

.test {
  width: 100%;
  display: flex;
  position: relative;
}

.portfolio-opacity {
  position: absolute;
  width: 84%;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 15%;
  padding: 1% 0 1% 1%;
}

.portfolio-right-photo {
  width: 50%;
  margin-left: 50%;

  &__photo {
    width: 100%;
    height: 100%;
  }
}

.portfolio-basics {
  display: flex;
  align-items: center;
  margin-left: 2%;

  &__line {
    width: 4%;
    height: 2px;
    background-color: #5AB9EA;
  }

  &__text {
    font-size: 18px;
    color: #5AB9EA;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 1vh 1% 0 1%;
  }
}

.portfolio-arrow {
  width: 50%;
  margin-bottom: 1vh;
  padding: 1vh 0;
  display: flex;
  align-items: center;

  &__text {
    margin: 0;
    font-size: 18px;
    color: #5AB9EA;
    letter-spacing: 0.1em;
    margin-right: 2%;
  }

  &__arrow {
    position: relative;
    width: 3%;
    height: 2px;
    background-color: #5680E9;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: block;

    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      top: -3px;
      right: -2px;
      background-color: #5680E9;
      transform: rotate(45deg);
    }

    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      top: 3px;
      right: -2px;
      background-color: #5680E9;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
      transform: rotate(-45deg);
    }
  }
}