.progress {
  width: 100%;
  background-color: #1F2833;
}
.progress-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.progress-item {
  text-align: center;
  margin: 4vh 0;
}
.progress-item__title {
  margin: 0;
  font-size: 65px;
  color: #ffffff;
}
@media (max-width: 1366px) {
  .progress-item__title {
    font-size: 50px;
  }
}
.progress-item__text {
  margin: 0;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 1366px) {
  .progress-item__text {
    font-size: 17px;
  }
}
.progress-line {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.progress-line__line {
  width: 1px;
  height: 13vh;
  background-color: #ffffff;
  position: absolute;
}
