.services-and-price {
  width: 100%;
  display: flex;
  scroll-margin-top: 10vh;
}
.services {
  width: 50%;
  background-image: url(../img/bg-contacts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services__title {
  width: 315px;
  border-bottom: 1px solid #1F2833;
  color: #1F2833;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 4vh 0 4vh 30%;
}
@media (max-width: 1366px) {
  .services__title {
    font-size: 30px;
    width: 235px;
  }
}
.services__services {
  width: 65%;
  border-right: 2px solid #1F2833;
  border-left: 2px solid #1F2833;
  margin: 0 5% 4vh 30%;
  display: flex;
  justify-content: center;
}
.services__services-wrapper {
  width: 90%;
}
.services__element {
  margin-bottom: 2vh;
  border-bottom: 2px solid #1F2833;
}
.services__element:last-child {
  margin-bottom: 0;
}
.services__subtitle {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #1F2833;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 0.06em;
}
@media (max-width: 1366px) {
  .services__subtitle {
    font-size: 25px;
  }
}
.services__text {
  color: #1F2833;
  font-size: 20px;
  font-weight: bolder;
}
@media (max-width: 1366px) {
  .services__text {
    font-size: 18px;
  }
}
.services__arrow-wrapper {
  width: 14%;
  height: 3.5vh;
  display: flex;
  align-items: center;
  margin-left: 86%;
  cursor: pointer;
}
.services__arrow {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #5680E9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  display: block;
}
.services__arrow:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  top: -3px;
  right: -2px;
  background-color: #5680E9;
  transform: rotate(45deg);
}
.services__arrow:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  top: 3px;
  right: -2px;
  background-color: #5680E9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
.stages-opacity {
  background-image: url(../img/bg-stages.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
.stages {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stages__title {
  color: #ffffff;
  font-size: 35px;
  font-weight: bolder;
  margin: 4vh 0 4vh 20%;
}
@media (max-width: 1366px) {
  .stages__title {
    font-size: 25px;
  }
}
.stages__element {
  margin: 4vh 30% 4vh 10%;
}
.stages__subtitle {
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
@media (max-width: 1366px) {
  .stages__subtitle {
    font-size: 20px;
  }
}
.stages__text {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.06em;
}
@media (max-width: 1366px) {
  .stages__text {
    font-size: 18px;
  }
}
.form-close-one,
.form-close-two,
.form-close-three,
.form-close-four,
.form-close-five,
.form-close-six {
  width: 7%;
  height: 3.5vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 1vh 4%;
}
.form-close {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #5680E9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  display: block;
}
.form-close:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  top: 3px;
  left: -2px;
  background-color: #5680E9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
}
.form-close:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  top: -3px;
  left: -2px;
  background-color: #5680E9;
  transform: rotate(-45deg);
}
.form-wrapper {
  display: flex;
  align-items: center;
}
.form-text {
  padding: 4vh 4% 1vh;
  width: 40%;
  color: #000000;
  letter-spacing: 0.06rem;
  font-size: 20px;
}
@media (max-width: 1366px) {
  .form-text {
    font-size: 15px;
  }
}
.form-cost {
  width: 25%;
  margin-left: 10%;
}
.form-cost__cost {
  text-align: center;
  border-bottom: 1px solid #000000;
  letter-spacing: 0.1rem;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
  font-weight: bolder;
  font-size: 25px;
}
@media (max-width: 1366px) {
  .form-cost__cost {
    font-size: 20px;
  }
}
.form-cost__cost:last-child {
  border: none;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.form-one,
.form-two,
.form-three,
.form-four,
.form-five,
.form-six {
  display: none;
}
.forma {
  display: block;
  background-image: url(../img/bg-contacts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
  animation-name: bounce;
  animation-duration: 0.6s;
  position: fixed;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 65%;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  animation-name: down;
  animation-duration: 0.5s;
}
